<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tu mundo soñado de diversión">
    <meta name="keywords" content="entretenimiento, peliculas, juegos, juegos gratis, moda">
    <title>FunTime</title>
    <link rel="shortcut icon" href="./layouts/img/FunTimeWeb_logo.jpg" type="image/X-icon">
</head>
<body>
<section id="menu">

            <a id="menu1" href="/">HOME</a>
            <a id="menu2" href="/videojuegos">PRODUCTOS</a>
            <a id="menu3" href="/registro">REGISTRARSE</a>
            <a id="menu4" href="/iniciarsesion">INICIAR SESIÓN</a>
            <a id="menu5" href="/perfil">YO</a>

</section>
<marquee id="home" behavior="alternate" direction="">HOME</marquee>

{{{body}}}
    

<style>
@font-face {
        font-family: superstar;
        src: url("img/superstar_memesbruh03.ttf");
}

#menu{
    position: relative;
    display: flex;
    height: 100px;
    background: transparent;
    background-color: rgba(36, 36, 36, 0.583);
    border: 2px 2px 2px 2px solid grey;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px grey;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#menu1{
    padding-right: 30px;
    color: black;
    font: 23px Poppins, sans-serif;
    text-decoration: none;
}
#menu2{
    padding-right: 90px;
    color: black;
    font: 23px Poppins, sans-serif;
    text-decoration: none;
}
#menu3{
    padding-right: 30px;
    color: black;
    font: 22px Poppins, sans-serif;
    text-decoration: none;
}
#menu4{
    padding-right: 30px;
    color: black;
    font: 22px Poppins, sans-serif;
    text-decoration: none;
}
#menu5{
    color: black;
    font: 22px Poppins, sans-serif;
    text-decoration: none;
}

</style>

</body>
</html>